.container {
    padding-top: 24px;
    padding-bottom: 52px;
}

.shows {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 40px;
    margin-top: 24px;
}

@media (min-width: 900px) {
    .container {
        padding-bottom: 148px;
    }

    .shows {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        row-gap: 60px;
    }
}