.title {
    font-weight: 700;
    font-size: 24.8px;
    line-height: 29px;
    color: white;
    font-style: normal;
}

.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    margin-top: 23px;
}

.member {
    display: flex;
}

.image {
    width: 42.67px;
    height: 60px;
}

.placeholder b {
    text-align: center;
    font-size: 7px;
}

.wrapper {
    margin-left: 11px;
    margin-top: 7px;
}

.person {
    display: block;
    color: white;
    font-weight: 700;
    font-size: 12.8px;
    line-height: 15px;
}

.character {
    display: block;
    font-weight: 400;
    font-size: 10.4px;
    line-height: 12px;
    opacity: 0.6;
    color: white;
    margin-top: 2px;
}

@media (min-width: 900px) {
    .title {
        font-size: 31px;
        line-height: 36px;
    }

    .items {
        row-gap: 30px;
        margin-top: 29px;
    }

    .placeholder b {
        font-size: 10px;
    }

    .image {
        width: 53px;
        height: 75px;
    }

    .wrapper {
        margin-left: 13px;
    }

    .person {
        font-size: 16px;
        line-height: 18px;
    }

    .character {
        font-size: 13px;
        line-height: 15px;
    }
}